<app-menu>
    <mat-toolbar class="background-navy-primary green-primary">
        <span>Resumen del Juego</span>
    </mat-toolbar>
    <div class="container container_juego">
        <div
           class="container container-juego background-navy-primary green-primary text-center pt-4 pb-1"
        >
           <figure class="logo-game-container background-green-primary">
              <img
                 src="../../../../assets/img/intentos.png"
                 alt="no image"
              />
           </figure>
           <div class="row mt-5">
              <h3 class="col">Partidas Jugadas</h3>
           </div>
           <div class="row">
              <h3 class="color-white jugadores-text">0</h3>
           </div>
        </div>
        <div
           class="container container-juego background-navy-primary green-primary text-center pt-4 pb-1"
        >
           <figure class="logo-game-container background-green-primary">
              <img
                 src="../../../../assets/img/ganadores.png"
                 alt="no image"
              />
           </figure>
           <div class="row mt-5">
              <h3 class="col">Ganadores</h3>
           </div>
           <div class="row">
              <h3 class="color-white jugadores-text">0</h3>
           </div>
        </div>
        <div
           class="container container-juego background-navy-primary green-primary text-center pt-4 pb-1"
        >
           <figure class="logo-game-container background-green-primary">
              <img
                 src="../../../../assets/img/ticket.png"
                 alt="no image"
              />
           </figure>
           <div class="row mt-5">
              <h3 class="col">Tickets Generados</h3>
           </div>
           <div class="row">
              <h3 class="color-white jugadores-text">0</h3>
           </div>
        </div>
     </div>
</app-menu>
