<mat-toolbar class="green-primary background-navy-primary">
   <span>Fecha</span>
   <span class="example-spacer"></span>
</mat-toolbar>
<div class="container-fluid background-black-primary root-container">
   <div class="row">
      <div class="col align-self-center text-center">
         <h2 class="date-title green-primary">JUEGO DISPONIBLE</h2>
      </div>
   </div>

   <div class="calendar-container">
      <div class="calendar">
         <p class="input-date green-primary">Inicio</p>
         <div class="calendar__card">
            <mat-card
               class="demo-inline-calendar-card background-navy-primary green-primary"
            >
               <mat-calendar
                  class="green-primary"
                  [(selected)]="beginDate"
               ></mat-calendar>
            </mat-card>
         </div>

         <app-button-primary
            (click)="saveNewDateGame()"
            title="Guardar"
            class="save-button"
         ></app-button-primary>
      </div>
      <div class="calendar">
         <p class="input-date green-primary">Fin</p>
         <div class="calendar__card">
            <mat-card
               class="demo-inline-calendar-card background-navy-primary green-primary"
            >
               <mat-calendar [(selected)]="finishDate"></mat-calendar>
            </mat-card>
         </div>

         <app-button-primary
            (click)="cancel()"
            title="Cancelar"
            class="cancel-button"
            [backgroundColor]="'#d4d4d4'"
         ></app-button-primary>
      </div>
   </div>
</div>