.mat-toolbar{
   background-color: var(--color-fondo-secundario);
   color: var(--color-principal);
}
.calendar_container{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.form{
   width: 80%;
   display: flex;
   justify-content: center;
}
.condition_container{
   width: 100%;
   display: flex;
   flex-direction: row;
}
.date_container{
   width: 60%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.container{
   margin-top: 20px;
   width: 60%;
   display: flex;
   flex-direction: column;
}
.register_container{
   margin-top: 20px;
   width: 100%;
   display: flex;
   flex-direction: row; 
}
.calendar{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 45%
 }
 .input-date{
    margin-top: 20px;
    padding:0.5rem 1.5rem;
    border:1px solid var(--color-principal);
    border-radius:15px;
    text-align: center;
 }
 .calendar__card{
   padding: 0 1rem;
}
.time_container{
   display: flex;
   justify-content: center;
 }
 .time{
   color: var(--color-principal);
 }
 .container_botones{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 15px;
   margin-top: 10%;
   flex-direction: column;
}
.container_botones button{
  margin: 10px 0;
  background-color: var(--color-cafe);
}
.container_botones button:hover{
  background-color: var(--color-principal);
  color: var(--color-fondo-secundario);
}