<!-- Toolbar -->

<mat-toolbar>
  <span>{{singularName}}</span>

  <span class="example-spacer"></span>

</mat-toolbar>

<!-- Buttons -->

<div class="container">
  <button mat-raised-button (click)="toTicketCreation()">
    Crear {{singularName}}
  </button>
</div>

<!-- Table -->

<div class="container mat-elevation-z8">
  <mat-form-field appearance="standard">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Nicolás" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Invocice Number Column -->
    <ng-container matColumnDef="invoice_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de factura </th>
      <td mat-cell *matCellDef="let row"> {{row.invoice_number}} </td>
    </ng-container>

    <!-- QR Code Column -->
    <ng-container matColumnDef="qr_code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Código QR </th>
      <td mat-cell *matCellDef="let row"> {{row.qr_code}} </td>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let row"> {{row.state}} </td>
    </ng-container>

    <!-- Client Column -->
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
      <td mat-cell *matCellDef="let row"> {{row.client}} </td>
    </ng-container>

    <!-- Game Column -->
    <ng-container matColumnDef="game">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Juego </th>
      <td mat-cell *matCellDef="let row"> {{row.game}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div>
          <button mat-icon-button color="primary" matTooltip="Visualizar" (click)="viewTicket(element.id)">
            <mat-icon>
              remove_red_eye
            </mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="Editar" (click)="editTicket(element.id)">
            <mat-icon>
              edit
            </mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Eliminar" (click)="deleteTicket(element.id)">
            <mat-icon>
              delete
            </mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

</div>
