<div class="container-fluid publicity_container p-0">
   <div class="scroll-container">
      <figure class="publicity_img-container">
         <img
            class="publicity_img"
            src="../../../../assets/img/bannerpublicidad.png"
            alt="publicity-img"
         />
      </figure>
      <!-- <figure class="publicity_img-container">
         <img
            class="publicity_img"
            src="../../../../assets/img/bannerpublicidad.png"
            alt="publicity-img"
         />
      </figure>
      <figure class="publicity_img-container">
         <img
            class="publicity_img"
            src="../../../../assets/img/bannerpublicidad.png"
            alt="publicity-img"
         />
      </figure>
      <figure class="publicity_img-container">
         <img
            class="publicity_img"
            src="../../../../assets/img/bannerpublicidad.png"
            alt="publicity-img"
         />
      </figure>
      <figure class="publicity_img-container">
         <img
            class="publicity_img"
            src="../../../../assets/img/bannerpublicidad.png"
            alt="publicity-img"
         />
      </figure>
      <figure class="publicity_img-container">
         <img
            class="publicity_img"
            src="../../../../assets/img/bannerpublicidad.png"
            alt="publicity-img"
         />
      </figure> -->
   </div>
</div>
