<div class="body">
    <div class="card">
        <div class="reset_container">
            <div class="recuperar">
                <form [formGroup]="form">
                    <div class="candado_img">
                        <img src="./assets/img/contrasena.png" alt="contrasena.png">
                    </div>
                    <h2>CAMBIO DE CONTRASEÑA</h2>
                    <div class="container_form">
                        <h2>Correo Electrónico:</h2>
                        <div class="ancho border_container">
                            <input class="form__input" matInput autocomplete="off" formControlName="email">
                        </div>
                    </div>
                    <div class="container_form">
                        <h2>Código: Contiene 6 digitos {{inputcodigo.value.length || 0}}/6</h2>
                        <div class="ancho border_container">
                            <input class="form__input" #inputcodigo matInput minlength="6" maxlength="6" autocomplete="off" onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="code">
                        </div>
                    </div>

                    <div class="container_form">
                        <h2>
                            Nueva contraseña:
                            Mínimo 8 caracteres {{input.value.length || 0}}/8
                        </h2>
                        <div class = "ancho password border_container">
                            <input class="form__input" #input matInput onpaste="return false" autocomplete="off" minlength="8" formControlName="password" [type]="ocultar ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="ocultar= !ocultar"> <mat-icon class="green-primary">{{ocultar ? 'visibility_off' : 'visibility'}}</mat-icon></button>
                        </div>
                    </div>
                    <div class="button_container" >
                        <button *ngIf="!form.invalid" class="ancho" (click)="resetear()" mat-raised-button>Resetear</button>
                        <button class="ancho" (click)="cancel()" mat-raised-button>Cancelar</button>
                    </div>
                </form>            
            </div>
        </div>
        <div class="image_container">
            <div class="back_img">
                <img src="./assets/img/back.jpg" alt="back.jpg">
        </div>
    </div>
    
</div>

