<div class="container-fullscreen p-0 m-0">
   <app-publicity
      [publicityList]="publicity.getBottomPublicityList()"
   ></app-publicity>
   <div class="container-menu">
      <app-logo
         [urlImage]="styles.get_image_logo_game()"
         [isBackground]="true"
         height="12rem"
      ></app-logo>
      <div class="scan-shadow"></div>
      <div class="scan_menu-container">
         <div class="menu-container_img-container">
            <app-logo
               [urlImage]="styles.get_image_logo_game()"
               height="6rem"
               [isHome]="false"
            ></app-logo>
         </div>
         <p class="info-game__text">A JUGAR!!!</p>
         <div class="information-game-container" [ngPlural]="availableSpin">
            <ng-template ngPluralCase="=0">
               <p class="info-game__text">
                  No te quedan más Giros!
               </p></ng-template
            >
            <ng-template class="info-game__text" ngPluralCase="=1">
               <p class="info-game__text">
                  Disponible 1 Giro más!
               </p></ng-template
            >
            <ng-template class="info-game__text" ngPluralCase="other">
               <p class="info-game__text">
                  Disponible {{ availableSpin }} Giros más!
               </p></ng-template
            >
         </div>
         <div class="spinner__container">
            <figure class="award-box-container">
               <img
                  class="awards-box"
                  [src]="styles.get_image_machine_game()"
                  alt="cajon-premios"
               />
            </figure>
            <div class="awards-container">
               <div class="awards-column">
                  <figure class="award-image-container">
                     <img
                        src="../../../../../assets/img/logoejemplo.png"
                        alt=""
                     />
                  </figure>
                  <figure class="award-image-container">
                     <img
                        src="../../../../../assets/img/logoejemplo.png"
                        alt=""
                     />
                  </figure>
                  <figure class="award-image-container">
                     <img
                        src="../../../../../assets/img/logoejemplo.png"
                        alt=""
                     />
                  </figure>
                  <figure class="award-image-container">
                     <img
                        src="../../../../../assets/img/logoejemplo.png"
                        alt=""
                     />
                  </figure>
                  <figure class="award-image-container">
                     <img
                        src="../../../../../assets/img/logoejemplo.png"
                        alt=""
                     />
                  </figure>
                  <figure class="award-image-container">
                     <img
                        src="../../../../../assets/img/logoejemplo.png"
                        alt=""
                     />
                  </figure>
                  <figure class="award-image-container">
                     <img
                        src="../../../../../assets/img/logoejemplo.png"
                        alt=""
                     />
                  </figure>
                  <figure class="award-image-container">
                     <img
                        src="../../../../../assets/img/logoejemplo.png"
                        alt=""
                     />
                  </figure>
                  <figure class="award-image-container">
                     <img
                        src="../../../../../assets/img/logoejemplo.png"
                        alt=""
                     />
                  </figure>
                  <figure class="award-image-container">
                     <img
                        src="../../../../../assets/img/logoejemplo.png"
                        alt=""
                     />
                  </figure>
               </div>
               <div class="awards-column">
                  <figure class="award-image-container">
                     <img
                        src="../../../../../assets/img/logoejemplo.png"
                        alt=""
                     />
                  </figure>
                  <figure class="award-image-container">
                     <img
                        src="../../../../../assets/img/logoejemplo.png"
                        alt=""
                     />
                  </figure>
               </div>
               <div class="awards-column">
                  <figure class="award-image-container">
                     <img
                        src="../../../../../assets/img/logoejemplo.png"
                        alt=""
                     />
                  </figure>
                  <figure class="award-image-container">
                     <img
                        src="../../../../../assets/img/logoejemplo.png"
                        alt=""
                     />
                  </figure>
               </div>
            </div>
            <!-- <div class="hide-top"></div>
            <div class="hide-bottom"></div> -->
         </div>
         <app-generic-button
            title="Girar"
            fontSize="1rem"
            styledPadding="0.5rem 2rem"
            class="mb-2"
         ></app-generic-button>
      </div>
   </div>

   <app-publicity
      [publicityList]="publicity.getBottomPublicityList()"
   ></app-publicity>
</div>
