<div class="container-fullscreen p-0 m-0">
  <app-publicity></app-publicity>
  <div class="scan_menu-container">
    <figure class="menu-container_img-container">
      <img class ="menu-container_img" src="../../../assets/comandato.png" alt="company-logo">
    </figure>

    <app-generic-button
    title="Continuar"
    fontSize="1rem"
    styledPadding="0.5rem 1rem"
    ></app-generic-button>



  </div>
  <div class="scan_bottom-publicity_container">
    <app-publicity></app-publicity>
  </div>

</div>
