<div class="container-fluid home_container p-0 m-0">
   <app-logo></app-logo>
   <figure class="home-image_container p-0 m-0">
      <img
         src="../../../assets/img/back.jpg"
         alt="home-gif"
         class="home_background p-0 m-0"
      />
      <div class="home-shadow"></div>
   </figure>
   <div class="home-btn_container">
      <app-generic-button
         class="home_btn"
         routerLink="/juego/scan"
         title="Toca para jugar"
      ></app-generic-button>
   </div>
</div>
