.btn-game__date{
   padding: 0.5rem 2rem;
   font-size: 14px;
   width:8rem;
   outline: none;
   border: none;
   border-radius: 6px;
   font-weight: 500;
}
.btn-game__date:hover{
   cursor: pointer

}
