<app-menu>
    <!-- Toolbar -->
    <mat-toolbar>
        <span>Nuevo Ticket</span>
    </mat-toolbar>
    
    <div class="FormContainer">
        <!-- Form -->
        <div class="container">
            <form [formGroup]="formGroup">
                <!-- Invoice Number Input--->
                <mat-form-field>
                    <label>Número de Factura</label>
                    <div class="input_form">
                        <input matInput #input autocomplete="off" formControlName="invoice_number" type="text" required
                            maxlength="10" minlength="10" onpaste="return false"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                    </div>
                    <mat-hint align="end">
                        {{input.value.length || 0}}/10
                    </mat-hint>
                    <mat-error *ngIf="formGroup.controls['invoice_number'].hasError('required')">
                        Campo requerido
                    </mat-error>
                </mat-form-field>
    
                <!-- Select Client -->
                <mat-form-field>
                    <label>Cliente</label>
                    <mat-select formControlName="client" mat-select>
                        <mat-option *ngFor="let client of allClients" [value]="client.cedula">
                            {{ client.cedula + ' ' + client.names + ' ' + client.surnames }}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Seleccione una opción</mat-hint>
                    <mat-error *ngIf="formGroup.controls['client'].hasError('required')">
                        Campo requerido
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <label>Cliente</label>
                    <div class="input_form">
                        <input #input type="text" matInput 
                        formControlName="client" 
                        [matAutocomplete]="auto">
                    </div>
                    <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn">
                        <mat-option *ngFor="let item of filteredOptions | async" [value]="item">
                          {{item.cedula}}
                        </mat-option>
                    </mat-autocomplete> 
                    <mat-hint>Seleccione una opción</mat-hint>
                    <mat-error *ngIf="formGroup.controls['client'].hasError('required')">
                        Campo requerido !!!
                    </mat-error>
                    <mat-error *ngFor="let validation of validation_msgs.contactAutocompleteControl">
                        <div *ngIf="formGroup.controls['client'].hasError(validation.type)">
                          {{validation.message}}
                        </div>
                      </mat-error>
                </mat-form-field>
        
                <!-- Select Game -->
                <mat-form-field>
                    <label>Juego</label>
                    <mat-select formControlName="game" mat-select>
                        <mat-option *ngFor="let game of allGames" [value]="game.name">
                            {{game.name}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Seleccione una opción</mat-hint>
                    <mat-error *ngIf="formGroup.controls['game'].hasError('required')">
                        Campo requerido
                    </mat-error>
                </mat-form-field>
        
            </form>
            <!-- Buttons -->
            <div class="container_botones">
                <button mat-raised-button color="primary" (click)="generateQRCode()">
                    Generar código QR
                </button>
                <button (click)="toList()" mat-raised-button color="warn">
                    <mat-icon>close</mat-icon>
                    Cancelar
                </button>
        
                <button mat-raised-button color="primary" (click)="create()">
                    <mat-icon>done</mat-icon>
                    {{actionName}}
                </button>
            </div>
        
        </div>
        <div class="QR_container">
            <app-tickect-qr></app-tickect-qr>
        </div>
    </div>
    
    
</app-menu>