img{
   width:100%;
   height:100%;
}
.container_juego{
   margin-top: 5%;
}

.container-juego{
   position:relative;
   max-width: 26rem;
   border-radius: 15px;

}
.jugadores-text{
   margin-right: 6rem;
}
.logo-game-container{
   position:absolute;
   top: -53px;
   border-radius:50%;
   width:7rem;
   height:7rem;
   left: calc(50% - 56px);
   display:flex;
   justify-content: center;
   align-items: center;
}
.logo-game-container img{
   width: 66px;
    height: 60px;
    margin-left: 7px;
}
