.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
}
.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 7%;
    margin-bottom: 20px;
}
.button_container button{
    background: var(--color-fondo-secundario);
    color: var(--color-principal);
    border-radius: 25px;
}
.add_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_container{
    color: var(--color-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--color-principal) 1px solid;
    width: 50px;
    border-radius: 25px;
    margin-right: 10px;
}