<div class="container-set-item">
  <p class="item__category">{{category}}</p>
  <div class="container__squares">

    <p class="squares__number">{{squares}} casillas</p>
    <button type="button" class="squares__btn row justify-content-center align-items-center" title="add">
      <mat-icon class="btn__icon">add</mat-icon>
    </button>
    <button type="button" class="squares__btn row justify-content-center align-items-center" title="add">
      <mat-icon class="btn__icon">remove</mat-icon>
    </button>

  </div>
</div>
