
img{
  width: 100%;
  height: 100%;
}
.container-category{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.categorie{
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content:start;
  width: 80%;
  flex-wrap: wrap;
  padding: 0.5rem 0;
  border-radius: 6px;
}
.category-title{
  font-size:1rem;
}
.add-container{
  border-radius: 15px;
  width: 3rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #00ffc5;
  padding:0.3rem 0;
}
.styled-icon{
   font-size:17px;
   width:17px;
   height:17px;
}
.btn-container{
   display: flex;
   gap:.5rem;
   align-items: center;
   border-radius:6px;
   padding:.3rem 1rem;
   margin-left: .3rem;
   background-color: #002130;
}
.award-container{
  width: 5rem;
  height:5rem;
  margin: 0;
}
.container-box{
  display: flex;
  flex-direction: column;
  gap:0.4rem;
}
.box{
  width: 5rem;
  height: 5rem;
  border: 1px solid #00ffc5;
}

