<app-menu>
    <mat-toolbar>
        <span>Rol: {{rol}}</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
    <div class="container_card">
            <div class="container_permisos">
                <form [formGroup]="form" novalidate>
                    <div class="container">
                        <div *ngFor="let permiso of Lista_permisos; let i=index">
                                <div class="container_permiso">
                                    <div class="permiso_nombre">
                                        <label>{{permiso.name}}</label>
                                    </div>
                                    <div class="espaciado">
                                      <div class="button r" id="button-3">
                                        <input class="checkbox" type="checkbox" id="{{permiso.id}}" (change)="onCheckboxChange($event)" [value]="permiso.id" />
                                        <div class="knobs"></div>
                                        <div class="layer"></div>
                                      </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
    
            <div class="container_botones">
                <button (click)="regresarRoles()" mat-raised-button color="warn">
                    <mat-icon>close</mat-icon>
                    Cancelar
                </button>
    
                <button mat-raised-button color="primary" (click)="guardarPermisos()">
                    <mat-icon>done</mat-icon>
                    Guardar
                </button>
            </div>
    </div>
</app-menu>