.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
mat-label{
    font-size: 1.25rem;
    color: var(--color-principal);
}
.card{
    width: 33%;
    border-radius: 10px;
    background: var(--color-fondo-principal);
}
.history{
    width: 33%;
    border-radius: 10px;
    background: red;
    color: white
}
.summary{
    width: 33%;
    border-radius: 10px;
    background: green;
    color: white
}
.datos{
    width: 100%;
    margin-bottom: 25px;
}
.container_botones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.container_card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.mat-list-item{
    font-size: 1.25rem;
    color: var(--color-letras);
}
.mat-toolbar{
    background-color: var(--color-fondo-secundario);
    color: var(--color-principal);
}
