<app-menu>
    <mat-toolbar>
        <span>Visualizar {{singularName}} {{client.names}} {{client.cedula}}</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
    <div class="container_card">
        <div class="card">
            <h2>Datos del cliente</h2>
            <div class="container">
                <div class="datos">
                    <mat-label>Cédula</mat-label>
                    <br>
                    <mat-list-item>{{client.cedula}}</mat-list-item>
                </div>
                <div class="datos">
                    <mat-label>Nombres</mat-label>
                    <br>
                    <mat-list-item >{{client.names}}</mat-list-item>
                </div>
            </div>
            <div class="container">
                <div class="datos">
                    <mat-label>Apellidos</mat-label>
                    <br>
                    <mat-list-item >{{client.surnames}}</mat-list-item>
                </div>
                <div class="datos">
                    <mat-label>Email</mat-label>
                    <br>
                    <mat-list-item >{{client.email}}</mat-list-item>
                </div>
            </div>
            <div class="container">
                <div class="datos">
                    <mat-label>Teléfono</mat-label>
                    <br>
                    <mat-list-item >{{client.phone}}</mat-list-item>
                </div>
                <div class="datos">
                    <mat-label>Sexo</mat-label>
                    <br>
                    <mat-list-item >{{client.sex}}</mat-list-item>
                </div>
            </div>
            <div class="container">
                <div class="datos">
                    <mat-label>Dirección</mat-label>
                    <br>
                    <mat-list-item >{{client.address}}</mat-list-item>
                </div>
            </div>
            <div class="container">
                <div class="datos">
                    <mat-label>Fecha de Creación</mat-label>
                    <br>
                    <mat-list-item >{{client.created}}</mat-list-item>
                </div>
                <div class="datos">
                    <mat-label>Usuario responsable del registro</mat-label>
                    <br>
                    <mat-list-item >{{client.user_client_register}}</mat-list-item>
                </div>
            </div>
            <div class="container">
                <div class="datos">
                    <mat-label>Fecha de Modificación</mat-label>
                    <br>
                    <mat-list-item >{{client.modified}}</mat-list-item>
                </div>
                <div class="datos">
                    <mat-label>Usuario responsable de la modificación</mat-label>
                    <br>
                    <mat-list-item >{{client.user_client_modify}}</mat-list-item>
                </div>
            </div>
            <div class="container_botones">
                <app-button-primary (click)="toList()"
                    title="Salir"
                ></app-button-primary>
            </div>
        </div>
        <div class="history">
            <div class="history_head">
                <h2>Historial de Partidas</h2>
                <div class="filter">
                   <mat-select
                      class="green-primary"
                      (selectionChange)="filter($event.value)"
                      mat-select
                      placeholder="Filtrar"
                   >
                      <mat-option
                         class="background-navy-primary white-color"
                         *ngFor="let filter of Filters"
                         value="{{ filter.id }}"
                         >{{ filter.name }}</mat-option
                      >
                   </mat-select>
                </div>
            </div>
            <div class="history_content">
                <div *ngFor="let info of client_history | keyvalue">
                    <div class="container">
                        <div class="datos">
                            <mat-label>Partida #</mat-label>
                            <br>
                            <mat-list-item>{{info.value.id}}</mat-list-item>
                        </div>
                    </div>
                    <div class="container" >
                        <div class="datos">
                            <mat-label>Premio Ganado</mat-label>
                            <br>
                            <div *ngIf="info.value.win_match; else loser">
                                <mat-list-item>{{info.value.win_award}}</mat-list-item>
                            </div>
                            <ng-template #loser>
                                <mat-list-item>No ha ganado</mat-list-item>
                            </ng-template>
                        </div>
                        <div class="datos" *ngIf="info.value.win_match">
                            <mat-label>Premio Entregado</mat-label>
                            <br>
                            <div *ngIf="info.value.delivered_award; else loser_award">
                                <mat-list-item>{{info.value.win_award}} Si</mat-list-item>
                            </div>
                            <ng-template #loser_award>
                                <mat-list-item>No</mat-list-item>
                                <div class="container_botones">
                                    <app-button-primary (click)="deliveryAward(info.value.id)"
                                        title="Entregar Premio"
                                    ></app-button-primary>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    <div class="container">
                        <div class="datos">
                            <mat-label>Juego Seleccionado</mat-label>
                            <br>
                            <mat-list-item>{{info.value.game_selected}}</mat-list-item>
                        </div>
                        <div class="datos">
                            <mat-label>Fecha de emisión del Ticket</mat-label>
                            <br>
                            <mat-list-item >{{info.value.emision_date_ticket}}</mat-list-item>
                        </div>
                    </div>
                    <div class="container">
                        <div class="datos">
                            <mat-label>Fecha de juego</mat-label>
                            <br>
                            <mat-list-item>{{info.value.game_date}}</mat-list-item>
                        </div>
                        <div class="datos">
                            <mat-label>Encargado que imprimió el ticket</mat-label>
                            <br>
                            <mat-list-item >{{info.value.user_register_ticket}}</mat-list-item>
                        </div>
                    </div>
                    <div class="container">
                        <div class="datos">
                            <mat-label>Código QR</mat-label>
                            <br>
                            <mat-list-item>{{info.value.qr}}</mat-list-item>
                        </div>
                        <div class="datos">
                            <mat-label>Número de Factura</mat-label>
                            <br>
                            <mat-list-item >{{info.value.invoice_number}}</mat-list-item>
                        </div>
                    </div>
                    <div>
                        <h3 class="separate">-</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="summary">
            <div>Hola</div>
        </div>
    </div>
    
    
</app-menu>
