.container_botones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.container_botones button{
    margin: 0 10px;
}

.card{
    width: 100%;
    border-radius: 10px;
    background: var(--color-fondo-principal);
}

mat-label{
    font-size: 1.25rem;
    color: var(--color-principal);
}

.container_card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.mat-list-item{
    font-size: 1.25rem;
    color: var(--color-letras);
}
.mat-toolbar{
    background-color: var(--color-fondo-secundario);
    color: var(--color-principal);
}
button{
    margin-left: 50%;
    margin-bottom: 25px;
    margin-top: 25px;
    background: var(--color-cafe);
    color: var(--color-letras);
}
button:hover{
    background: var(--color-principal);
    color: var(--color-fondo-secundario);
}