<!-- Toolbar -->

<mat-toolbar>
    <span>
        {{actionName}} {{singularName}} {{ticket.id}} {{ticket.invoice_number}}
    </span>
</mat-toolbar>

<!-- Div -->

<div class="container_card">
    <mat-card class="card">
        <mat-list>
    
            <!-- Invoice Number -->
    
            <mat-label>Número de Factura</mat-label>
            <mat-list-item>{{ticket.invoice_number}}</mat-list-item>
    
    
            <!-- QR Code -->
    
            <mat-label>Código QR</mat-label>
            <mat-list-item>{{ticket.qr_code}}</mat-list-item>
    
            <!-- Sate -->
    
            <mat-label>Estado</mat-label>
            <mat-list-item>{{ticket.state}}</mat-list-item>
    
            <!-- Client -->
    
            <mat-label>Cliente</mat-label>
            <mat-list-item>{{ticket.client}}</mat-list-item>

            <!-- Game -->
    
            <mat-label>Juego</mat-label>
            <mat-list-item>{{ticket.game}}</mat-list-item>
    
            <!-- Fecha de registro -->
    
            <mat-label>Fecha de registro</mat-label>
            <mat-list-item>{{ticket.date_created}}</mat-list-item>
    
            <!-- Usuario responsable del registro -->
    
            <mat-label>Usuario de registro</mat-label>
            <mat-list-item>{{ticket.user_register}}</mat-list-item>
    
            <!-- Fecha de última modificación -->
    
            <mat-label>Fecha de última modificación</mat-label>
            <mat-list-item>{{ticket.date_modified}}</mat-list-item>
    
            <!-- Usuario responsable de la modificación -->
    
            <mat-label>Usuario responsable de la modificación</mat-label>
            <mat-list-item>{{ticket.user_modifier}}</mat-list-item>
    
        </mat-list>
        <div class="container_botones">
            <button (click)="toTicketList()" mat-raised-button color="warn">
                <mat-icon>close</mat-icon>
                Salir
            </button>
        </div>
    </mat-card>
</div>
