<app-menu>
    <mat-toolbar>
        <span>Visualizar ticket</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
    <div class="container_card">
        <mat-card class="card">
            <div class="container_flex">
                <div>
                    <div class="container">
                        <div class="datos">
                            <mat-label>Cedula</mat-label>
                            <br>
                            <mat-list-item role="listitem">{{ticket.client_cedula}}</mat-list-item>
                        </div>
                        <div class="datos">
                            <mat-label>Cliente</mat-label>
                            <br>
                            <mat-list-item role="listitem">{{ticket.client}}</mat-list-item>
                        </div>
                    </div>
                    <div class="container">
                        <div class="datos">
                            <mat-label>Juego Seleccionado</mat-label>
                            <br>
                            <mat-list-item role="listitem">{{ticket.game_name}}</mat-list-item>
                        </div>
                        <div class="datos">
                            <mat-label>Código del Ticket</mat-label>
                            <br>
                            <mat-list-item role="listitem">{{ticket.qr_code_digits}}</mat-list-item>
                        </div>
                    </div>
                    <div class="container">
                        <div class="datos">
                            <mat-label>Fecha de Emisión del Ticket</mat-label>
                            <br>
                            <mat-list-item role="listitem">{{ticket.date_created}}</mat-list-item>
                        </div>
                        <div class="datos">
                            <mat-label>Fecha de Canjeo del Ticket</mat-label>
                            <br>
                            <div *ngIf="samedate == false; else inactivo">
                                <mat-list-item role="listitem">{{ticket.date_ticket_played}}</mat-list-item>
                            </div>
                            <ng-template #inactivo>
                                <mat-list-item role="listitem">Aún el ticket no ha sido canjeado</mat-list-item>
                            </ng-template>
                        </div>
                    </div>
                    <div class="container">
                        <div class="datos">
                            <mat-label>Número de Factura</mat-label>
                            <br>
                            <mat-list-item role="listitem">{{ticket.invoice_number}}</mat-list-item>
                        </div>
                        <div class="datos">
                            <mat-label>Personal que lo antendió</mat-label>
                            <br>
                            <mat-list-item role="listitem">{{ticket.user_register}}</mat-list-item>
                        </div>
                    </div>
                </div>
                <div class="container_img">
                    <qrcode colorDark="#fff" colorLight="#000" [width]="350" [qrdata]="QRdata"></qrcode>
                </div>
            </div>
    
            <div class="container_botones">
                <app-button-primary (click)="toList()"
                title="Salir"
                ></app-button-primary>
            </div>
        </mat-card>
    </div>
    
    
</app-menu>
