<mat-toolbar class="background-navy-primary green-primary">
   <span>Probabilidad</span>
   <span class="example-spacer"></span>
</mat-toolbar>

<app-modal
   *ngIf="isModalOpen"
   (propagar)="manageCloseModal($event)"
   category="{{ categoryModal }}"
   [publicity]="publicityList"
>
</app-modal>

<div class="container-premios background-black-primary">
   <div class="container-categories">
      <div class="categories-caption green-primary">
         <h3 mat-lib-title>Categorias y Premios</h3>
         <h3 mat-lib-title>Casillas Disponibles</h3>
      </div>
      <app-categorie
         (propagar)="padreOpenModal($event)"
         color="legendary"
         title="Legendaria"
         [awards]="legendary"
         [boxes]="legendary_box"
      ></app-categorie>
      <app-categorie
         (propagar)="padreOpenModal($event)"
         color="epic"
         title="Epica"
         [awards]="epic"
         [boxes]="epic_box"
      ></app-categorie>
      <app-categorie
         (propagar)="padreOpenModal($event)"
         color="rare"
         title="Rara"
         [awards]="rare"
         [boxes]="epic_box"
      ></app-categorie>
      <app-categorie
         (propagar)="padreOpenModal($event)"
         color="common"
         title="Comun"
         [awards]="common"
         [boxes]="common_box"
      ></app-categorie>

      <!-- <app-categorie
         (propagar)="padreOpenModal($event)"
         color="publicity"
         title="publicity"
         [boxes]="common_box"
      ></app-categorie> -->
   </div>

   <div class="container-set-categories green-primary">
      <h3 mat-lib-title class="set-categories__title">Editar Probabilidades</h3>
      <div class="container-set-squares">
         <div class="container-total">
            <form
               [formGroup]="form"
               action=""
               class="row align-items-center justify-content-start me-2 form"
            >
               <label class="total col-8" for="percent_win"
                  >Porcentaje de ganar un premio</label
               >
               <input
                  type="number"
                  class="input-global col-4 ms-4"
                  id="percent_win"
                  formControlName="percent_win"
                  required
               />
               %
               <p class="ganadores__limit-message no-pass-limit ms-3">
                  Porcentaje actual de ganar {{ percentage }}%
               </p>
               <label class="total col-8 mt-4" for="limit_winners"
                  >Limitar ganadores por dia</label
               >
               <input
                  type="number"
                  class="input-global col-4 ms-4"
                  id="limit_winners"
                  formControlName="limit_winners"
                  required
               />

               <p class="ganadores__limit-message no-pass-limit ms-3">
                  {{ limitMessage }}
               </p>

               <label class="total col-8 mt-4" for="limit_attempts"
                  >Numero de intentos</label
               >
               <input
                  type="number"
                  class="input-global col-4 ms-4"
                  id="limit_attempts"
                  formControlName="limit_attempts"
                  required
               />
               <p class="ganadores__limit-message no-pass-limit ms-3">
                  Numero actual de Intentos {{ limitAttempts }}
               </p>
            </form>
            <app-button-primary
               (click)="addProbabilityConfig()"
               title="Guardar"
               class="mt-4 ms-3 btn-save"
            ></app-button-primary>
         </div>
      </div>
   </div>
</div>
