<div class="example-container">
   <mat-toolbar class="example-toolbar background-black-primary green-primary">
      <button mat-icon-button (click)="snav.toggle()">
         <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name">{{ Titulo }}</h1>
      <span class="example-spacer"></span>
      <h1 class="example-app-name">{{ Titulo2 }}</h1>
      <span class="example-spacer"></span>
      <div class="nav-container">
         <ul class="nav-items">
           <li class="nav-item nav-item-dropdown">
            <mat-icon>settings</mat-icon>
             <ul class="dropdown-menu">
               <li class="dropdown-menu-item">
                 <a routerLink="/dashboard/cambiar-contraseña">Cambiar Contraseña</a>
               </li>
             </ul>
           </li>
         </ul>
       </div>
   </mat-toolbar>
   

   <mat-sidenav-container
      class="example-sidenav-container background-black-primary"
   >
      <mat-sidenav #snav class="background-navy-primary">
         <mat-nav-list>
            <a
               class="menu"
               *ngFor="let item of menu"
               mat-list-item
               [routerLink]="item.ruta"
            >
               <mat-icon class="icono">{{ item.icono }}</mat-icon>
               {{ item.nombre }}</a
            >
         </mat-nav-list>
         <div class="Logout">
            <button (click)="logout()" mat-raised-button>
               <mat-icon>logout</mat-icon>
               CERRAR SESIÓN
            </button>
         </div>
      </mat-sidenav>

      <mat-sidenav-content>
         <ng-content></ng-content>
      </mat-sidenav-content>
   </mat-sidenav-container>
</div>
