<app-menu>
    <mat-toolbar>
        <span>Visualizar premio</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
    <div class="container_card">
        <mat-card class="card">
            <div class="container_flex">
                <div>
                    <div class="container">
                        <div class="datos">
                            <mat-label>Nombre</mat-label>
                            <br>
                            <mat-list-item role="listitem">{{premioget.name}}</mat-list-item>
                        </div>
                        <div class="datos">
                            <mat-label>Descripción</mat-label>
                            <br>
                            <mat-list-item role="listitem">{{premioget.description}}</mat-list-item>
                        </div>
                    </div>
                    <div class="container">
                        <div class="datos">
                            <mat-label>Premios Disponibles</mat-label>
                            <br>
                            <mat-list-item role="listitem">{{premioget.initial_stock}}</mat-list-item>
                        </div>
                        <div class="datos">
                            <mat-label>Premios Condicionados</mat-label>
                            <br>
                            <mat-list-item role="listitem">{{premioget.condition_stock}}</mat-list-item>
                        </div>
                    </div>
                    <div class="container">
                        <div class="datos">
                            <mat-label>Premios Entregados</mat-label>
                            <br>
                            <mat-list-item role="listitem">{{premioget.prizes_awarded}}</mat-list-item>
                        </div>
                        <div class="datos">
                            <mat-label>Estado</mat-label>
                            <br>
                            <div *ngIf="premioget.is_active; else inactivo">
                                <mat-list-item role="listitem">Activo</mat-list-item>
                            </div>
                            <ng-template #inactivo>
                                <mat-list-item role="listitem">Inactivo</mat-list-item>
                            </ng-template>
                        </div>
                    </div>
                    <div class="container">
                        <div class="datos">
                            <mat-label>Fecha de Creación</mat-label>
                            <br>
                            <mat-list-item role="listitem">{{premioget.created}}</mat-list-item>
                        </div>
                        <div class="datos">
                            <mat-label>Última Modificación</mat-label>
                            <br>
                            <mat-list-item role="listitem">{{premioget.modified}}</mat-list-item>
                        </div>
                    </div>
                    <div class="container">
                        <div class="datos">
                            <mat-label>Usuario que registro el premio</mat-label>
                            <br>
                            <mat-list-item role="listitem">{{premioget.user_register}}</mat-list-item>
                        </div>
                        <div class="datos">
                            <mat-label>Último usuario en modificar el premio</mat-label>
                            <br>
                            <div *ngIf="premioget.user_modify ; else sinmodificar">
                                <mat-list-item role="listitem">{{premioget.user_modify}}</mat-list-item>
                            </div>
                            <ng-template #sinmodificar>
                                <mat-list-item role="listitem">{{premioget.user_register}}</mat-list-item>
                            </ng-template>
                        </div>
                    </div>
                    <div class="container">
                        <div class="datos">
                            <mat-label>Categoría</mat-label>
                            <br>
                            <mat-list-item role="listitem">{{premioget.category}}</mat-list-item>
                        </div>
                        <div class="datos">
                            <mat-label>EL premio pertenece al juego</mat-label>
                            <br>
                            <mat-list-item role="listitem">{{premioget.game}}</mat-list-item>
                        </div>
                    </div>
                </div>
                <div class="container_img">
                    <img src="{{premioget.imagen}}" alt="">
                </div>
            </div>
    
            <div class="container_botones">
                <button (click)="regresarPremios()" mat-raised-button>
                    <mat-icon>close</mat-icon>
                    Salir
                </button>
            </div>
        </mat-card>
    </div>
    
    
</app-menu>
