<mat-form-field>
    <label [for]="inputId">{{titulo}}</label>
    <div class="input_form">
        <input #input matInput onpaste="return false" autocomplete="off" minlength="8" [formControl]="control" [type]="ocultar ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="ocultar= !ocultar"> <mat-icon>{{ocultar ? 'visibility_off' : 'visibility'}}</mat-icon></button>
    </div>
    <mat-hint align="end">
        {{input.value.length || 0}}/8
    </mat-hint>
    <mat-error *ngIf="control.hasError('required') || input.value.length < 9" >
        Campo requerido !!! {{input.value.length || 0}}/8
    </mat-error>
</mat-form-field>
