<!-- Toolbar -->

<mat-toolbar>
    <span>{{actionName}} {{singularName}} {{currentClient.names}} #{{currentClient.cedula}} </span>
</mat-toolbar>

<!-- Form -->

<form [formGroup]="formGroup">

    <!-- Cedula Input -->

    <p>
        <mat-form-field appearance="fill">
            <mat-label>Cédula</mat-label>

            <input matInput #input autocomplete="off" formControlName="cedula" type="text" required
            placeholder="0957303423" maxlength="10" minlength="10"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            <mat-hint align="end">
                {{input.value.length || 0}}/10
            </mat-hint>
            <mat-error *ngIf="formGroup.controls['cedula'].hasError('required')" >
                Campo requerido
            </mat-error>
        </mat-form-field>
    </p>

    <!-- Names Input -->

    <p>
        <mat-form-field appearance="fill">
            <mat-label>Nombres</mat-label>
            <input matInput autocomplete="off" formControlName="names" type="text" required placeholder="Nicolás Andrés">
            <mat-hint>Nombre completo</mat-hint>
            <mat-error *ngIf="formGroup.controls['names'].hasError('required')" >
                Campo requerido
            </mat-error>
        </mat-form-field>
    </p>

    <!-- Surnames Input -->
    
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input matInput autocomplete="off" formControlName="surnames" type="text" required placeholder="Plaza Iñiguez">
            <mat-hint>Apellido paterno y materno</mat-hint>
            <mat-error *ngIf="formGroup.controls['surnames'].hasError('required')" >
                Campo requerido
            </mat-error>
        </mat-form-field>
    </p>

    <!-- Email Input -->
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput placeholder="usuario@dominio.com" formControlName="email" type="email" required
            placeholder="usuario@dominio.com">
            <mat-error *ngIf="formGroup.controls['email'].hasError('required')">
                Campo requerido
            </mat-error> 
            <mat-error *ngIf="formGroup.controls['email'].hasError('email')">
                Ingresa un correo válido
             </mat-error>
        </mat-form-field>
    </p>

    <!-- Phone Input -->
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Teléfono</mat-label>
            <input matInput #input autocomplete="off" formControlName="phone" type="text" required
            placeholder="0939552946" maxlength="10" minlength="10"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            <mat-hint align="end">
                {{input.value.length || 0}}/10
            </mat-hint>
            <mat-error *ngIf="formGroup.controls['phone'].hasError('required')" >
                Campo requerido
            </mat-error>
        </mat-form-field>
    </p>

    <!-- Sex select -->
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="sex" mat-select placeholder="Seleccione una opción">
                <mat-option value="N">Ninguno</mat-option>
                <mat-option value="F">Femenino</mat-option>
                <mat-option value="M">Masculino</mat-option>
            </mat-select>
            <mat-hint>Seleccione una opción</mat-hint>
            <mat-error *ngIf="formGroup.controls['sex'].hasError('required')">
                Campo requerido
            </mat-error>
        </mat-form-field>
    </p>

    <!-- Address Input -->
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Dirección</mat-label>
            <textarea matInput formControlName="address" placeholder="Ciudad, Cantón, Parroquia" style="resize: none;"
            maxlength="300" rows="5"></textarea>
            <mat-error *ngIf="formGroup.controls['address'].hasError('required')">
                Campo requerido
            </mat-error>
        </mat-form-field>
    </p>

    <!-- State select -->
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="state" mat-select placeholder="Seleccione una opción">
                <mat-option value="NO">Ninguno</mat-option>
                <mat-option value="AC">Activo</mat-option>
                <mat-option value="IN">Inactivo</mat-option>
                <mat-option value="DI">Desabilitado</mat-option>
            </mat-select>
            <mat-hint>Seleccione una opción</mat-hint>
            <mat-error *ngIf="formGroup.controls['state'].hasError('required')">
                Campo requerido
            </mat-error>
        </mat-form-field>
    </p>

    <!-- Buttons -->

    <div style="display: flex; justify-content: right;">
        <button mat-raised-button (click)="toClientList()">Cancelar</button>
        <button mat-raised-button (click)="editClient()" color="primary">{{actionName}}</button>
    </div>

</form>
