<div class="container-modal " (click)="closeModalOutsideModal($event)">
  <div class="row align-items-center justify-content-center w-100 h-100">
    <div class=" container-modal-awards">
      <mat-icon class="cancel-icon" (click)="closeModal()">cancel</mat-icon>
      <div class="row text-align-center">
        <p> Anadir premio a la categoria {{category}} </p>
      </div>
      <div class="awards-container">
        <app-modal-item *ngFor="let award of modalAwards"
        name="{{award.name}}"
        imgUrl="{{award.imagen}}"
        stock="{{award.current_stock}}"
        ></app-modal-item>
      </div>

    </div>
  </div>

</div>
