mat-form-field {
    width: 45%;
    margin: 0 20px;
    margin-bottom: 15px;
}

.container {
    margin-top: 20px;
}

.container_botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.container_botones button {
    margin: 0 10px;
    background-color: var(--color-cafe);
}

.container_botones button:hover {
    background-color: var(--color-principal);
    color: var(--color-fondo-secundario);
}

mat-toolbar {
    background-color: var(--color-fondo-secundario);
    color: var(--color-principal);
}

.input_form {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px;
    height: 40px;
}

mat-hint {
    color: var(--color-letras);
}

mat-error {
    color: var(--color-principal);
}

label {
    color: #ffffff;
    margin-bottom: 10px;
}

mat-select {
    background: #ffffff;
    border-radius: 10px;
    height: 40px;
    padding-left: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
}