<div class="box-container">
   <div class="color-white publicity-container">
      <p class="publicity__title green-primary">
         {{ title + " " + number + ":" }}
      </p>
      <div class="publicity-info__container">
         <p class="">Imagen:</p>
         <div class="file-select" id="src-file1">
            <input
               class="file-input"
               #takeInput
               (change)="capturarFile($event)"
               type="file"
               name="src-file1"
               aria-label="Archivo"
            />
         </div>
      </div>
   </div>
   <figure class="box">
      <img [src]="previsulizacion" alt="logo img" />
   </figure>
   <p class="white-color">Insertar imagenes png</p>
   <div class="container-buttons">
      <app-button-primary
         title="Guardar"
         (click)="updatePublicityGame()"
      ></app-button-primary>
      <app-button-primary
         title="Cancelar"
         backgroundColor="#fff"
         (click)="cancel()"
      ></app-button-primary>
   </div>
</div>
