<mat-toolbar>
    <span>Crear Usuarios</span>
    <span class="example-spacer"></span>
</mat-toolbar>
<div class="container">
 <mat-card>
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Cédula</mat-label>
            <input autocomplete="off" formControlName="cedula" onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="text" minlength="10" maxlength="10" matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Username</mat-label>
            <input autocomplete="off" formControlName="username" type="text" matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombres</mat-label>
            <input autocomplete="off" formControlName="names" type="text" matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Apellidos</mat-label>
            <input autocomplete="off"  formControlName="surnames" type="text" matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Correo electrónico</mat-label>
            <input autocomplete="off" formControlName="email" type="email" matInput>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Telefono</mat-label>
            <input autocomplete="off" formControlName="phone" onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="text" minlength="10" maxlength="10" matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput autocomplete="off" minlength="8" formControlName="password" [type]="ocultar ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="ocultar= !ocultar"> <mat-icon>{{ocultar ? 'visibility_off' : 'visibility'}}</mat-icon></button>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="sex" mat-select placeholder="Seleccione una opción">
                <mat-option value="F">Femenino</mat-option>
                <mat-option value="M">Masculino</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input autocomplete="off" formControlName="address" type="text" matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Rol</mat-label>
            <mat-select formControlName="rol" mat-select placeholder="Seleccione una opción" >
                <mat-option *ngFor="let rol of roles" value={{rol.id}}>{{rol.name}}</mat-option>
            </mat-select>
        </mat-form-field>

    </form>
    <div class="container_botones">
        <button (click)="regresarUsuarios()" mat-raised-button color="warn">
            <mat-icon>close</mat-icon>
            Cancelar
        </button>
        
        <button mat-raised-button color="primary" (click)="crearUsuario()">
            <mat-icon>done</mat-icon>
            Guardar
        </button>
    </div>
 </mat-card>
</div>
