<app-menu>
    <mat-toolbar>
        <span>Editar Rol: {{editar_rol.name}}</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
    <div class="container">
        <form [formGroup]="form">
            <mat-form-field>
                <label>Nombre</label>
                <div class="input_form">
                    <input autocomplete="off" formControlName="name" type="text" matInput>
                </div>
                <mat-hint>Nombre del Rol</mat-hint>
                <mat-error *ngIf="form.controls['name'].hasError('required')" >
                    Campo requerido !!!
                </mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <label>Descripción</label>
                <div class="input_form" >
                    <input autocomplete="off"  formControlName="description" type="text" matInput>
                </div>
                <mat-hint>Descripción del Rol</mat-hint>
                <mat-error *ngIf="form.controls['description'].hasError('required')" >
                    Campo requerido !!!
                </mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <label>Estado</label>
                <mat-select formControlName="is_active" mat-select>
                    <mat-option value=true>Activo</mat-option>
                    <mat-option value=false>Inactivo</mat-option>
                </mat-select>
                <mat-hint>Seleccione una opción</mat-hint>
                <mat-error *ngIf="form.controls['is_active'].hasError('required')" >
                    Campo requerido !!!
                </mat-error>
            </mat-form-field>
        </form>
        <div class="container_botones">
            <button (click)="regresarRoles()" mat-raised-button color="warn">
                <mat-icon>close</mat-icon>
                Cancelar
            </button>
    
            <button mat-raised-button color="primary" (click)="editarRol()">
                <mat-icon>done</mat-icon>
                Guardar
            </button>
        </div>
    </div>
    
</app-menu>
