<mat-toolbar>
    <span>Cambiar Contraseña</span>
    <span class="example-spacer"></span>
</mat-toolbar>
<div class="container">
    <mat-card>
        <form [formGroup]="form">
            <mat-form-field class = "ancho"  >
                <mat-label>Contaseña Actual</mat-label>
                <input matInput placeholder="Contraseña" autocomplete="off" formControlName="old_password" [type]="ocultar ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="ocultar= !ocultar"> <mat-icon>{{ocultar ? 'visibility_off' : 'visibility'}}</mat-icon></button>
            </mat-form-field>
    
            <mat-form-field class = "ancho"  >
                <mat-label>Nueva Contaseña</mat-label>
                <input matInput placeholder="Nueva Contaseña, mínimo 8 caracteres" minlength="8" autocomplete="off" formControlName="new_password" [type]="ocultar2 ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="ocultar2= !ocultar2"> <mat-icon>{{ocultar2 ? 'visibility_off' : 'visibility'}}</mat-icon></button>
            </mat-form-field>
    
            <mat-form-field class = "ancho"  >
                <mat-label>Confirmar Nueva Contaseña</mat-label>
                <input matInput placeholder="Confirmar Nueva Contaseña, mínimo 8 caracteres" minlength="8" autocomplete="off" formControlName="confirm_password" [type]="ocultar3 ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="ocultar3= !ocultar3"> <mat-icon>{{ocultar3 ? 'visibility_off' : 'visibility'}}</mat-icon></button>
            </mat-form-field>
        </form>
        <div class="container_botones">
            <button (click)="regresarInicio()" mat-raised-button color="warn">
                <mat-icon>close</mat-icon>
                Cancelar
            </button>
            
            <button mat-raised-button color="primary" (click)="cambiarContrasenia()">
                <mat-icon>done</mat-icon>
                Guardar
            </button>
        </div>
    </mat-card>
</div>

