<!-- <qrcode colorDark="#fff" colorLight="#000" [width]="200" qrdata="asdsada"></qrcode> -->
<div class="ticket_container">
    <div class="logo_container">
        <img src={{logo}} alt="logo">
    </div>
    <div class="title_container">
        <h1>{{title}}</h1>
        <h2>Código Qr:&nbsp;&nbsp; {{codigoQR}}</h2>
    </div>
    <div class="QR_container">
        <qrcode colorDark="#000" colorLight="#fff" [width]="300" [qrdata]="QRdata"></qrcode>
    </div>
    <div class="text_default">
        <p>
            Promoción válida del {{startdate}} al {{enddate}}
            {{description}}
        </p>
    </div>
</div>