.ticket_container{
    width: 80%;
    height: 100%;
    padding: 15px;
    background: #fff;
    text-align: center;
}
.logo_container{
    margin-bottom: 15px;
    width: 100%;
    height: 75px;
}
.logo_container img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: fill;
}
.QR_container{
    margin-top: 25px;
}
.title_container{
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
}
p{
    padding: 15px;
    font-size: 15px;
}
h3{
    font-size: 20px;
}
h2{
    font-size: 25px;
}