.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background: var(--color-fondo-principal);
}
.card{
    width: 70%;
    height: 90%;
    text-align: center;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    background: var(--color-fondo-secundario);
    box-shadow: 4px 4px 20px 0px var(--color-fondo-secundario)
}
.login_container{
    width: 50%;
}
.image_container{
    width: 50%;
}
.tragamonedas_img{
    width: 100%;
    height: 150px;
    display: flex;
}
.tragamonedas_img img{
    width: 100%;
    height: 500px;
    margin-top: -150px;
}
.back_img{
    width: 100%;
    height: 100%;
}
.back_img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 0 25px 25px 0;
}
.ancho{
    width: 100%;
}
a{
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-letras);
}
a:hover {
    color: var(--color-principal);
}
h2{
    color: var(--color-principal);
}
.form__input{
   box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1rem;
    border:none;
    outline: none;
    color: var(--color-letras);
    background: var(--color-fondo-secundario);
    text-align: start;
}
.container_form{
    padding: 0 15%;
}
.container_form h2{
    font-size: 1rem;
    text-align: start;
}
.password{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.eye_password{
    width: 30px;
    height: 30px;
    color: var(--color-principal);
    position: relative;
    bottom: 7px;
}
.button_container{
    margin: 20px;
    display: flex;
    justify-content: end;
    padding: 0 15%;
}
.button_container button{
    width: 50%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--color-fondo);
    background: var(--color-principal);
    cursor: pointer;
}
.border_container{
    border: 1px solid var(--color-letras);
    border-radius: 15px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
.form__input::placeholder {
    color: #ffffff;
}

