:root{
    --color-principal: #00ffc5;
   --color-fondo: #002130;
   --color-letras: #ffffff;
   --color-ventanas: #055970;
   --color-cafe:#3f3f43;
}
table {
    width: 100%;
}
.container{
    margin-top: 20px;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.buscador {
    margin-left: 25px;
}
.example-spacer {
    flex: 1 1 auto;
  }
.ancho_columna{
    width: 17%;
}
.espacio_botones{
    display: flex;
    justify-content: space-between;
}
.mat-toolbar{
    background-color: var(--color-ventanas);

 }

