<div class="container-fluid text-center">
	<div class="keyboard-container">
		<div class="row keyboard-row">
			<button
				class="col btn"
				(click)="getButtonValue($event)">
				1
			</button>
			<button
				class="col btn"
				(click)="getButtonValue($event)">
				2
			</button>
			<button
				class="col btn"
				(click)="getButtonValue($event)">
				3
			</button>
		</div>
		<div class="row keyboard-row">
			<button
				class="col btn"
				(click)="getButtonValue($event)">
				4
			</button>
			<button
				class="col btn"
				(click)="getButtonValue($event)">
				5
			</button>
			<button
				class="col btn"
				(click)="getButtonValue($event)">
				6
			</button>
		</div>
		<div class="row keyboard-row">
			<button
				class="col btn"
				(click)="getButtonValue($event)">
				7
			</button>
			<button
				class="col btn"
				(click)="getButtonValue($event)">
				8
			</button>
			<button
				class="col btn"
				(click)="getButtonValue($event)">
				9
			</button>
		</div>
		<div class="row keyboard-row">
			<button
				class="col-7 btn"
				(click)="getButtonValue($event)">
				0
			</button>
			<button
				class="col-4 btn"
				value="delete"
				(click)="deleteValue()">
				<mat-icon>keyboard_backspace</mat-icon>
			</button>
		</div>
	</div>
</div>
