<div class="container-fluid text-center">
   <div class="keyboard-container">
      <div class="row keyboard-row">
         <button class="col btn" (click)="getButtonValue($event)">1</button>
         <button class="col btn">2</button>
         <button class="col btn">3</button>
      </div>
      <div class="row keyboard-row">
         <button class="col btn">4</button>
         <button class="col btn">5</button>
         <button class="col btn">6</button>
      </div>
      <div class="row keyboard-row">
         <button class="col btn">7</button>
         <button class="col btn">8</button>
         <button class="col btn">9</button>
      </div>
      <div class="rowkeyboard-row">
         <button class="col-12 btn">0</button>
      </div>
   </div>
</div>
