<div class="container">
    <mat-card>
       <form [formGroup]="form">
            <mat-form-field>
                <mat-label>Fecha de inicio</mat-label>
                <input matInput #input formControlName="start_date" type="datetime-local" required>
                <mat-hint>Fecha</mat-hint>
                <mat-error *ngIf="form.controls['start_date'].hasError('required')" >
                    Campo requerido
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Fecha de fin</mat-label>
                <input matInput #input formControlName="end_date" type="datetime-local" required>
                <mat-hint>Fecha</mat-hint>
                <mat-error *ngIf="form.controls['end_date'].hasError('required')" >
                    Campo requerido
                </mat-error>
            </mat-form-field>

           <mat-form-field>
                <mat-label>Juego</mat-label>
                <mat-select formControlName="juego" mat-select placeholder="Seleccione una opción">
                    <mat-option *ngFor="let juego of Juegos" value={{juego.id}}>{{juego.name}}</mat-option>
                </mat-select>
                <mat-hint>Juego del Premio</mat-hint>
                <mat-error *ngIf="form.controls['juego'].hasError('required')" >
                    Campo requerido
                </mat-error>
            </mat-form-field>

           <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select formControlName="is_active" mat-select placeholder="Seleccione una opción">
                <mat-option value=true>Activo</mat-option>
                <mat-option value=false>Inactivo</mat-option>
            </mat-select>
            <mat-hint>Estado del Premio</mat-hint>
            <mat-error *ngIf="form.controls['is_active'].hasError('required')" >
                Campo requerido
            </mat-error>
        </mat-form-field>
        </form>
        <div class="container_botones">
            <button  mat-raised-button color="warn" (click)="backGameDate()">
                <mat-icon>close</mat-icon>
                Cancelar
            </button>
            
            <button mat-raised-button color="primary" (click)="createGameDate()" color="primary">
                <mat-icon>done</mat-icon>
                Crear
            </button>
        </div>
    </mat-card>
</div>
