
.publicity-info__container{
   padding:0 .5rem;
}


.file-select {
   position: relative;
   display: inline-block;
   width: 17rem;
   height: 40px;
 }
.file-select::before {
   background-color: var(--color-principal);
   color: var(--color-fondo-secundario);
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 3px;
   content: 'Selecciona una imagen (png, jpg, jpeg)'; /* testo por defecto */
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
 }
 .file-input[type="file"] {
   opacity: 0;

 }


