<div
   class="container-fluid publicity_container p-0"
   [ngClass]="{ 'top-publicity': isTop, 'bottom-publicity': !isTop }"
>
   <figure class="publicity_img-container">
      <img
         *ngIf="isTop"
         class="publicity_img"
         [src]="dashboardPublicityService.getTopPublicityImage()"
         alt="publicity-img"
         [ngClass]="{ 'top-publicity': isTop, 'bottom-publicity': !isTop }"
      />
      <img
         *ngIf="!isTop"
         class="publicity_img"
         [src]="dashboardPublicityService.getBottomPublicityImage()"
         alt="publicity-img"
         [ngClass]="{ 'top-publicity': isTop, 'bottom-publicity': !isTop }"
      />
   </figure>
</div>
