.container-publicity{
   display:flex;
   align-items:center;
   margin-top:1.5rem;

}
.container-add-publicity{
   display:flex;
   flex-direction: column;
   gap: .5rem;
}
.preview-container{
   margin-left: 150px;
   width:9rem;
   height:5rem;
}
img{
   width: 350%;
   height: 350%;
}
.container-transition{
   margin-top:1.5rem;
}
.container-dimensions{
   margin-top: 1rem;
   display: flex;

}
.dimensions-instructions{
   display: flex;
   width:50%;
   flex-wrap: wrap;
}
.container-buttons{
   width:100%;
   display: flex;
   justify-content:space-between;
}
.images-container{
   display: flex;
   gap: 1rem;
   flex-wrap: wrap;
}
.images-sections{
   margin-top: 15px;
}
.images-sections p{
   text-align: center;
}