/* You can add global styles to this file, and also import other style files */
:root {
   --color-principal: #00ffc5;
   --color-fondo-principal: #000910;
   --color-fondo-secundario: #002130;
   --color-letras: #ffffff;
   --color-ventanas: #055970;
   --color-cafe:#3f3f43;
}
*{
   box-sizing: border-box;
   padding:0;
   margin:0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-fullscreen{
  position: relative;
  background-color: gray;
  width: 100%;
  height: 100vh;
}
.background-black-primary{
   /* background-color: #000910; */
   background-color: var(--color-fondo-principal);
}
.background-green-primary{
   background-color: var(--color-principal);
}
.green-primary{
   color: var(--color-principal);
}
.background-navy-primary{
   background-color: var(--color-fondo-secundario);
}
.navy-primary{
   color: var(--color-fondo);
}
.background-light-blue-primary{
   background-color: var(--color-ventanas);
}
.light-blue-primary{
   color: var(--color-ventanas);
}
.background-light-lead-primary{
   background-color: var(--color-cafe);
}
.light-lead-primary{
   color: var(--color-cafe);
}
.mat-card .mat-calendar .mat-calendar-content .ng-star-inserted .mat-calendar-table .mat-calendar-table-header,
.mat-calendar-body-label{
   color: var(--color-principal);
}
.mat-calendar-body-cell-content,
.mat-date-range-input-separator{
   color: white;

}
.mat-calendar-body-selected{
   background-color:var(--color-principal);
   color: black;
}
.mat-dialog-container{
   background-color:var(--color-ventanas)
}
/* .mat-toolbar{
   background-color: var(--color-fondo-principal);
   color: var(--color-principal);
} */
.mat-sidenav{
   background-color: var(--color-fondo-secundario);
}
.mat-sidenav-container{
   background-color: var(--color-fondo-principal);
   color: var(--color-principal);
}
.mat-drawer-backdrop.mat-drawer-shown {
   background-color: transparent
}
.mat-select-placeholder{
   color: var(--color-principal);
}
.mat-select-arrow {
   color: var(--color-principal);
}
.mat-select-value {
   color: var(--color-principal)
}
.mat-form-field-underline{
   width: 0px !important;
}
.mat-snack-bar-container{
   background-color: var(--color-ventanas);
   color: var(--color-principal);
}