<mat-toolbar>
    <span>Nuevo Usuario</span>
    <span class="example-spacer"></span>
</mat-toolbar>
<div class="container">
    <form [formGroup]="form">
        <!-- <mat-form-field>
            <label>Cédula</label>
            <div class="input_form">
                <input matInput #input autocomplete="off" formControlName="cedula" type="text" required
                    maxlength="10" minlength="10" onpaste="return false"
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            </div>
            <mat-hint align="end">
                {{input.value.length || 0}}/10
            </mat-hint>
            <mat-error *ngIf="form.controls['cedula'].hasError('required')" >
                Campo requerido !!!
            </mat-error>
        </mat-form-field> -->
        <app-input-tendigits-form
        titulo="Cédula"
        [control]="form.controls['cedula']"
        ></app-input-tendigits-form>

        <app-input-text-form
        titulo="Username"
        [control]="form.controls['username']"
        ></app-input-text-form>

        <!-- <mat-form-field>
            <label>Username</label>
            <div class="input_form">
                <input autocomplete="off" formControlName="username" type="text" matInput >
            </div>
            <mat-hint>Nombre del usuario</mat-hint>
            <mat-error *ngIf="form.controls['username'].hasError('required')" >
                Campo requerido !!!
            </mat-error>
        </mat-form-field> -->

        <mat-form-field>
            <label>Nombres</label>
            <div class="input_form">
                <input matInput autocomplete="off" formControlName="names" type="text" required>
            </div>
            <mat-hint>Nombre completo</mat-hint>
            <mat-error *ngIf="form.controls['names'].hasError('required')" >
                Campo requerido !!!
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <label>Apellidos</label>
            <div class="input_form">
                <input matInput autocomplete="off" formControlName="surnames" type="text" required>
            </div>
            <mat-hint>Apellido paterno y materno</mat-hint>
            <mat-error *ngIf="form.controls['surnames'].hasError('required')" >
                Campo requerido !!!
            </mat-error>
        </mat-form-field>

        <!-- <mat-form-field>
            <label>Correo Electrónico</label>
            <div class="input_form">
                <input matInput formControlName="email" type="email" required autocomplete="off">
            </div>
            <mat-hint>Correo electrónico</mat-hint>
            <mat-error *ngIf="form.controls['email'].hasError('required')">
                Campo requerido !!!
            </mat-error> 
            <mat-error *ngIf="form.controls['email'].hasError('email')">
                Ingresa un correo válido
             </mat-error>
        </mat-form-field> -->
        <app-input-email-form
        titulo="Correo Electrónico"
        [control]="form.controls['email']"
        ></app-input-email-form>


        <mat-form-field>
            <label>Teléfono</label>
            <div class="input_form">
                <input matInput #input_tel autocomplete="off" formControlName="phone" type="text" required
                maxlength="10" minlength="10" onpaste="return false"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            </div>
            <mat-hint align="end">
                {{input_tel.value.length || 0}}/10
            </mat-hint>
            <mat-error *ngIf="form.controls['phone'].hasError('required')" >
                Campo requerido !!!
            </mat-error>
        </mat-form-field>

        <app-input-password-form 
        titulo="Contraseña"
        [control]="form.controls['password']"
        ></app-input-password-form>

        <!-- <mat-form-field>
            <label>Contraseña</label>
            <div class="input_form">
                <input matInput onpaste="return false" autocomplete="off" minlength="8" formControlName="password" [type]="ocultar ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="ocultar= !ocultar"> <mat-icon>{{ocultar ? 'visibility_off' : 'visibility'}}</mat-icon></button>
            </div>
            <mat-hint>Minimo 8 caracteres</mat-hint>
            <mat-error *ngIf="form.controls['password'].hasError('required')" >
                Campo requerido !!!
            </mat-error>
        </mat-form-field> -->

        <app-input-select-form
        titulo="Sexo"
        [lista]= listSex
        [control]="form.controls['sex']"
        ></app-input-select-form>

        <!-- <mat-form-field>
            <label>Sexo</label>
            <mat-select formControlName="sex">
                <mat-option value="F">Femenino</mat-option>
                <mat-option value="M">Masculino</mat-option>
            </mat-select>
            <mat-hint>Seleccione una opción</mat-hint>
            <mat-error *ngIf="form.controls['sex'].hasError('required')" >
                Campo requerido !!!
            </mat-error>
        </mat-form-field> -->

        <mat-form-field>
            <label>Dirección</label>
            <div class="input_form">
                <input autocomplete="off" formControlName="address" type="text"  matInput>
            </div>
            <mat-hint>Dirección del usuario</mat-hint>
            <mat-error *ngIf="form.controls['address'].hasError('required')" >
                Campo requerido !!!
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <label>Rol</label>
            <mat-select formControlName="rol" mat-select >
                <mat-option *ngFor="let rol of roles" value={{rol.id}}>{{rol.name}}</mat-option>
            </mat-select>
            <mat-hint>Seleccione una opción</mat-hint>
            <mat-error *ngIf="form.controls['rol'].hasError('required')" >
                Campo requerido !!!
            </mat-error>
        </mat-form-field>

    </form>
    <div class="container_botones">
        <button (click)="regresarUsuarios()" mat-raised-button color="warn">
            <mat-icon>close</mat-icon>
            Cancelar
        </button>
        
        <button mat-raised-button color="primary" (click)="crearUsuario()">
            <mat-icon>done</mat-icon>
            Crear
        </button>
    </div>
</div>
