<div class="body">
    <div class="recuperar">
        <form [formGroup]="form">
            <img src="./assets/img/promo.png" alt="promo.png">
        <h2>Generar Código</h2>
        <mat-form-field class="ancho" >
            <mat-label>Email</mat-label>
            <input matInput autocomplete="off" formControlName="email">
        </mat-form-field>
        <br>
        <button class="ancho boton" (click)="recuperar()" mat-raised-button color="primary" [disabled]="form.invalid">Enviar</button>
        </form>
        <br>
        <div class="ancho">
            <a routerLink="/login">Regresar</a>
        </div>
        <br>
        <div class="ancho">
            <a routerLink="/reset-contraseña">Ya tienes código?</a>
        </div>
    </div>
</div>
