<div class="body">
    <div class="card">
        <div class="recover_container">
            <form [formGroup]="form">
                <div class="candado_img">
                    <img src="./assets/img/contrasena.png" alt="contrasena.png">
                </div>   
                <h2>RECUPERACIÓN DE CUENTA</h2>
                <div class="container_form">
                    <h2>Correo Electrónico:</h2>
                    <div class="ancho border_container" >
                        <input matInput autocomplete="off" formControlName="email">
                    </div>
                </div>
            </form>
            <div class="button_container" *ngIf="!form.invalid">
                <button class="ancho" (click)="recuperar()" mat-raised-button>Solicitar Clave</button>
            </div>
            <div class="button_container">
                <button class="ancho" (click)="cancel()" mat-raised-button>Cancelar</button>
            </div>
            <br>
            <div class="ancho">
                <a routerLink="/reset-contraseña">Ya tienes código?</a>
            </div>
        </div>
        <div class="image_container">
            <div class="back_img">
                <img src="./assets/img/back.jpg" alt="back.jpg">
            </div>
        </div>
    </div>
</div>
