<mat-toolbar class="background-navy-primary green-primary">
   <span>Publicidad</span>
   <span class="example-spacer"></span>
</mat-toolbar>
<!--
<div class="publicity-container">
   <div class="publicity__changes">
      <app-add-publicity
         [isTop]="true"
         title="Publicidad Superior"
         (click)="signalChangeTop()"
      ></app-add-publicity>
      <app-add-publicity
         [isTop]="false"
         title="Publicidad Inferior"
         (click)="signalChangeBottom()"
      ></app-add-publicity>
      <app-button-primary
         (click)="updatePublicity()"
         title="Guardar"
      ></app-button-primary>
   </div>
   <div class="publicity__view">
      <div class="view-container">
         <app-banner-publicity [isTop]="true"></app-banner-publicity>
         <div class="view-menu"></div>
         <app-banner-publicity [isTop]="false"></app-banner-publicity>
      </div>
   </div>
</div> -->
